<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Movie App</h1>
        <p class="lead">This is a better movie application than Netflix</p>
    </div>
</div>
<div class="container ">
    <br>
    <app-loading class="m-5" *ngIf="loading"></app-loading>
    <app-gird [movies]="dataMovieThetres | slice:0:6" title="Movies in theaters"></app-gird>
    <app-gird [movies]="dataMovie | slice:0:6" title="Popular Movies"></app-gird>
    <app-gird [movies]="dataMovieKids | slice:0:6" title="Popular Movies for Kids"></app-gird>
</div>